body {
    margin: 0;
    padding: 0;
}

.flex-col-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;

    position: relative;

}

.flex-row-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}


.firebase_topbar {
    background-color: #0288D1;
    width: 100%;
    height: 48px;
}


.firebase_left_nav{
    width: 256px;
    border-right: 3px solid black;

    min-height: 400px;  /*TODO SHOULD BE REMOVED*/
    /*position: absolute;*/
    /*display: inline-block;*/
    /*top: 48px;*/
    /*bottom: 0;*/
    /*left: 0;*/
    border-left-width: 0;
    -webkit-border-image:
            -webkit-gradient(linear, 0 0, 100% 0, from(#DCDCDC), to(rgba(0, 0, 0, 0))) 1 100%;
}


.firebase_body {
    width: 100%;
    height: auto;
    background-color: #FAFAFA;
    min-height: 500px; /*TODO DELETE*/
}



.firebase_dash {
    background-color: #FAFAFA;
    min-height: 400px; /*TODO DELETE*/
    width: 100%;

}

.firebase_dash .overview_bar {
    height:56px;
    width: 100%;
    background-color: #039BE5;
}




.firebase_left_nav .left_nav_header {
    width: 100%;
    height: 56px;
    background-color: #FAFAFA;
    border: 1px none #DCDCDC;
    border-bottom-style: solid;
}

.firebase_left_nav .left_nav_footer {
    width: 100%;
    height: 104px;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    bottom: 0;

}

.firebase_left_nav .left_nav_footer .spark {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #DCDCDC;
}
.firebase_left_nav .left_nav_footer .sidebar_collapse {
    width: 100%;
    height: 44px;
}